<div class="gallerypage-background">
    <img class="line-img" src="assets/images/servicespage/services_line.svg">
    <img class="subheader-img" src="assets/images/projectpage/projectsubheader_gallery_blue.svg">
    <h3 class="gallery-text" fxShow.sm="true" fxHide="true">{{projectpageContent[showProjectid].text1}} </h3>
    <div fxLayoutAlign="space-around center" fxLayout="row" fxLayout.xs="column" class="images-container">
        <img class="gallery-img" src={{projectpageContent[showProjectid].image1}}>
        <img class="gallery-img" src={{projectpageContent[showProjectid].image2}}>
        <img class="gallery-img" src={{projectpageContent[showProjectid].image3}}>
      </div>
      <div fxLayoutAlign="space-around center" fxLayout="row" fxLayout.xs="column" class="images-container">
        <img class="gallery-img" src={{projectpageContent[showProjectid].image4}}>
        <img class="gallery-img" src={{projectpageContent[showProjectid].image5}}>
        <img class="gallery-img" src={{projectpageContent[showProjectid].image6}}>
      </div>
  </div>