@import "../../variables.scss";

.gallerypage-background {
    height: 50rem;

    @include forDevice(handhelds) {
        height: 60rem;
    }
}

.subheader-img {
    width: 12rem;
    margin-left: 2rem;
}

.line-img {
    width: 100%;
    margin-bottom: 1rem;
}

.gallery-img {
    width: 20rem;

    @include forDevice(handhelds) {
        margin-bottom: 1rem;
    }
}

.images-container {
    margin-top: 2rem;
}

.gallery-text {
    width: 50rem;
    color: #3B6AB4;
    margin: 0.5rem;
    margin-left: 2.5rem;
}