@import "../../variables.scss";

.gallerypage-background {
    height: 50rem;

    @include forDevice(handhelds) {
        height: 103rem;
    }
    @include forDevice(handhelds-landscape) {
        height: 38rem;
    }
    @include forDevice(tablets) {
        height: 46rem;
    }
}

.subheader-img {
    width: 12rem;
    margin-left: 2rem;

    @include forDevice(handhelds) {
        width: 9rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}

.line-img {
    width: 100%;
    margin-bottom: 1rem;
}

.gallery-img {
    width: 20rem;

    @include forDevice(handhelds) {
        margin-bottom: 1rem;
    }
    @include forDevice(handhelds-landscape) {
        width: 13rem;
    }
    @include forDevice(tablets) {
        width: 18rem;
    }
    @include forDevice(large-screens) {
        width: 30rem;
    }
}

.images-container {
    margin-top: 2rem;

    @include forDevice(handhelds) {
        margin-top: unset;
    }
}

.gallery-text {
    width: 78rem;
    color: #3B6AB4;
    margin: 0.5rem;
    margin-left: 2.5rem;
}