<div class="gallerypage-background">
    <img class="line-img" src="assets/images/servicespage/services_line.svg">
    <img class="subheader-img" src="assets/images/projectpage/projectsubheader_gallery_blue.svg">
    <h3 class="gallery-text ">Here you can see some of the images of what I ended up with while working for Esoft. </h3>
    <div fxLayoutAlign="space-around center" fxLayout="row" fxLayout.xs="column" class="images-container">
        <img class="gallery-img" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
        <img class="gallery-img" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
        <img fxShow.gt-sm="true" fxShow.xs="true" fxHide="true" class="gallery-img" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
      </div>
      <div fxShow.gt-xs="true" fxHide="true" fxLayoutAlign="space-around center" fxLayout="row" class="images-container">
        <img class="gallery-img" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
        <img class="gallery-img" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
        <img fxShow.gt-sm="true" fxHide="true" class="gallery-img" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
      </div>
  </div>