.skillspage-background {
    height: 45rem;
}

.header-img {
    width: 30rem;
    margin-left: 7rem;
}

.skill-img {
    width: 25rem;
}

.subheader-text {
    font-weight: bold;
    color: #3B6AB4;
}

.split-line {
    margin: 1.5rem 0;
    width: 80rem;
}