<div class="page-background-holder">
  <div class="page-vertical-center">
    <div class="project-block-container">
      <div class="project-block-holder project-block-holder-lightblue">
        <h2 class="page-text project-block-text">Idunhealth</h2>
      </div>
      <div class="project-block-holder project-block-holder-grey">
        <h2 class="page-text project-block-text">Master Thesis</h2>
      </div>
      <div class="project-block-holder project-block-holder-orange">
        <h2 class="page-text project-block-text">Personal Page</h2>
      </div>
      <div class="project-block-holder project-block-holder-blue">
        <h2 class="page-text project-block-text">Randomizer</h2>
      </div>
      <div class="project-block-holder project-block-holder-lightblue">
        <h2 class="page-text project-block-text">BackUP</h2>
      </div>
      <div class="project-block-holder project-block-holder-grey">
        <h2 class="page-text project-block-text">Your Project?</h2>
      </div>
    </div>
    <div class="project-container">
      <app-projectpage *ngFor="let content of list" [content]="content"></app-projectpage>
    </div>
  </div>
</div>