<div class="page-background-holder">
  <div class="page-vertical-center">
    <div class="project-block-container">
      <div class="project-block-holder project-block-holder-lightblue">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">Idunhealth</h1>
            <h1 class="page-text project-block-text">Angular</h1>
            <h1 class="page-text project-block-text"> Web application</h1>
          </div>
        </div>
      </div>
      <div class="project-block-holder project-block-holder-grey">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">Master Thesis</h1>
            <h1 class="page-text project-block-text">Unity</h1>
            <h1 class="page-text project-block-text"> VR application</h1>
          </div>
        </div>
      </div>
      <div class="project-block-holder project-block-holder-orange">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">Personal Page</h1>
            <h1 class="page-text project-block-text">Angular</h1>
            <h1 class="page-text project-block-text"> Web application</h1>
          </div>
        </div>
      </div>
      <div class="project-block-holder project-block-holder-blue">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">Your Project?</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="project-block-container">
      <div class="project-block-holder project-block-holder-orange">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">Randomizer</h1>
            <h1 class="page-text project-block-text">JavaScript</h1>
            <h1 class="page-text project-block-text"> Web application</h1>
          </div>
        </div>
      </div>
      <div class="project-block-holder project-block-holder-blue">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">BackUP</h1>
            <h1 class="page-text project-block-text">JavaScript</h1>
            <h1 class="page-text project-block-text"> Web application</h1>
          </div>
        </div>
      </div>
      <div class="project-block-holder project-block-holder-lightblue">
        <div class="project-block-text-container">
          <div class="project-block-text-holder">
            <h1 class="page-text project-block-text">My next</h1>
            <h1 class="page-text project-block-text">Personal project</h1>
          </div>
        </div>
        <h1 class="page-text project-block-text"> </h1>
      </div>
      <div class="project-block-holder project-block-holder-grey"></div>
    </div>
  </div>

</div>