.welcomepage-background {
    width: -webkit-fill-available;
    height: 47rem;
}

.top-content {
    height: 100%;
}

.header-img {
    width: 30rem;
}

.header-text {
    font-weight: bold;
    width: 26rem;
    color: #3B6AB4;
}

.subheader-text {
    width: 26rem;
    color: #3B6AB4;
}

.christina-img {
    height: 30rem;
}

.split-line {
    margin-top: -12rem;
    width: 80rem;
}

.christina-container {
    margin-left: 11rem;
}

.images-container {
    height: 12rem;
}