.skill-header {
	font-size: 5rem;
	@media (max-width: 1706px) {font-size: 3.5rem;}
	position: absolute;
	left: 35vw;
	margin-top: 3rem;
	background-color: #AFDFB1;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	border-radius: 2rem;
}

.skill-left-background {
	background-color: #f7f9e4;
}

.skill-right-background {
	background-color: #598a58;
}

.skill-img {
	height: 15rem;
	margin-left: calc(25vw - 8rem);
	@media (max-width: 1706px) {height: 12rem;}
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.skill-content-text {
	@media (max-width: 1706px), (max-height: 980px) {font-size: 1.5rem;}
	font-size: 2rem;
	text-align: center;
}

.skill-text-wrapper {
	margin-bottom: 2rem;
}

.skill-content-header {
	font-size: 2rem;
	@media (max-width: 1706px), (max-height: 980px) {font-size: 1.5rem;}
	text-align: center;
	font-weight: bold;
}