<div class="gradient-to-page"></div>

<div class="page-background-holder skill-background">
  <div class="skill-header">My Competences</div>

  <div class="page-background">
    <img class="skill-img" src="assets/images/nature.png">
    <div class="skill-text-wrapper">
        <div class="skill-content-header">Web Development</div>
        <div class="skill-content-text">&#123; HTML, CSS, JavaScript, AJAX &#125;</div>
      </div>
      <div class="skill-text-wrapper">
          <div class="skill-content-header">Software</div>
        <div class="skill-content-text">&#123; C#, Java, Python, Android, Unity &#125;</div>
      </div>
      <div class="skill-text-wrapper">
          <div class="skill-content-header">Extensions</div>
        <div class="skill-content-text">&#123; jQuery, SCSS, NodeJS &#125;</div>
      </div>
      <div class="skill-text-wrapper">
          <div class="skill-content-header">Server</div>
          <div class="skill-content-text">&#123; SQL, PHP &#125;</div>
      </div>
      <div class="skill-text-wrapper">
          <div class="skill-content-header">Others</div>
          <div class="skill-content-text">&#123; Angular, MVC, JSON &#125;</div>
      </div>
  </div>

  <div class="page-background">
    <img class="skill-img" src="assets/images/nature.png">
    <div class="skill-text-wrapper">
        <div class="skill-content-header">Working methods</div>
        <div class="skill-content-text">&#123; Agile, SCRUM, Storyboarding, Prototyping &#125;</div>
      </div>
      <div class="skill-text-wrapper">
          <div class="skill-content-header">Coding Software</div>
        <div class="skill-content-text">&#123; Visual Studio, Visual Studio Code, Brackets, NetBeans &#125;</div>
      </div>
      <div class="skill-text-wrapper">
          <div class="skill-content-header">Others</div>
        <div class="skill-content-text">&#123; Git, Blender, Adobe Photoshop, VR Technology &#125;</div>
      </div>
  </div>
</div>