.skill-header {
	font-size: 4rem;
	@media (max-width: 1500px), (max-height: 980px) {font-size: 2.5rem; left: calc(50vw - 11.5rem)}
	position: absolute;
	left:  calc(50vw - 16rem);
	margin-top: 3rem;
	background-color: #AFDFB1;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	border-radius: 2rem;
	font-family: Helvetica, sans-serif;
}

.skill-background {
	background-color: #73bc71; //#598a58;
}

.skill-img {
	height: 15rem;
	margin-left: calc(25vw - 8rem);
	@media (max-width: 1706px) {height: 12rem;}
	margin-top: 3rem;
	margin-bottom: 2rem;
	filter: drop-shadow(0 0 1rem rgb(63, 78, 95));
}

.skill-content-text {
	@media (max-width: 1706px), (max-height: 980px) {font-size: 1.5rem;}
	@media (max-width: 1500px), (max-height: 950px) {font-size: 1.3rem;}
	font-size: 1.7rem;
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: #34393a;
}

.skill-text-wrapper {
	margin-bottom: 2rem;
}

.skill-content-header {
	font-size: 2rem;
	@media (max-width: 1706px), (max-height: 980px) {font-size: 1.5rem;}
	@media (max-width: 1500px), (max-height: 980px) {font-size: 1.3rem;}
	text-align: center;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
}

.gradient-to-page {
	background-image: linear-gradient(#f7f9e4, #73bc71);
	height: 4rem;
}