<div class="page-background-holder">
  <div class="page-vertical-center">
    <div class="skillpage-topcontent-container">
      <img class="skillpage-img" src="assets/images/icons/technology_icon.svg">
      <div class="skill-text-holder skill-text-holder-top">
        <h2 class="page-text skill-text">
          <div class="bold-text">Web development</div> = &#123; <div class="orange-text">HTML, CSS, JavaScript</div>
          &#125;
        </h2>
        <h2 class="page-text skill-text">
          <div class="bold-text">Software</div> = &#123; <div class="orange-text">C#, Java, Python, Unity, Android</div>
          &#125;
        </h2>
        <h2 class="page-text skill-text">
          <div class="bold-text">Extensions</div> = &#123; <div class="orange-text">JQuery, SCSS, NodeJS</div> &#125;
        </h2>
        <h2 class="page-text skill-text">
          <div class="bold-text">Server</div> = &#123; <div class="orange-text">SQL</div> &#125;
        </h2>
        <h2 class="page-text skill-text">
          <div class="bold-text">Others</div> = &#123; <div class="orange-text">Angular, JSON, MVC</div> &#125;
        </h2>
      </div>
    </div>

    <div class="skillpage-bottomcontent-container">
      <div class="skill-text-holder skill-text-holder-bottom">
        <h2 class="page-text skill-text">
          <div class="bold-text">Working methods</div> = &#123; <div class="orange-text">Agile, Scrum, Storyboarding,
            Prototyping</div> &#125;
        </h2>
        <h2 class="page-text skill-text">
          <div class="bold-text">Software</div> = &#123; <div class="orange-text">Visual Studio, Visual Studio Code,
            NetBeans</div> &#125;
        </h2>
        <h2 class="page-text skill-text">
          <div class="bold-text">Others</div> = &#123; <div class="orange-text">Git, Photoshop, VR, Blender, Affinity
            Designer</div> &#125;
        </h2>
      </div>
      <img class="skillpage-img" src="assets/images/icons/skills_icon.svg">
    </div>
  </div>
</div>