<div class="portefoliopage-background">
  <img class="header-img" src="assets/images/portefoliopage/header_portefolio.svg">
  <div fxLayoutAlign="space-around center" fxLayout="row" fxLayout.xs="column" class="images-container">
    <img class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
    <img class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
    <img fxShow.gt-sm="true" fxShow.xs="true" fxHide="true" class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
  </div>
  <div fxShow.gt-xs="true" fxHide="true" fxLayoutAlign="space-around center" fxLayout="row" class="images-container">
    <img class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
    <img class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
    <img fxShow.gt-sm="true" fxHide="true" class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
  </div>
</div>