<div class="portefoliopage-background">
  <img class="header-img" src="assets/images/portefoliopage/header_portefolio.svg">
  <div fxLayoutAlign="space-around center" fxLayout="row" fxLayout.xs="column" class="images-container">
    <img class="portefolio-image" (click)=showProject(0) src="assets/images/projectpage_images/esoft/esoft_1.png">
    <img class="portefolio-image" (click)=showProject(1) src="assets/images/projectpage_images/idunhealth/idun_1.png">
    <img fxShow.gt-sm="true"  (click)=showProject(2) fxShow.xs="true" fxHide="true" class="portefolio-image" src="assets/images/projectpage_images/backup/backup_1.png">
  </div>
  <div fxShow.gt-xs="true" fxHide="true" fxLayoutAlign="space-around center" fxLayout="row" class="images-container">
    <img class="portefolio-image"  (click)=showProject(3) src="assets/images/projectpage_images/personalpage/personal_5.png">
    <img class="portefolio-image image-smallscreen" src="assets/images/projectpage_images/backup/backup_1.png">
    <img style="opacity: 0;" fxShow.gt-sm="true" fxHide="true" class="portefolio-image" src="assets/images/portefoliopage/portefolio_img_placeholder.svg">
  </div>
</div>