<div class="projectpage-background">
  <img class="header-img" src="assets/images/projectpage/projectheader_esoft.svg">
  <div fxLayoutAlign="space-between center" fxLayout="row" class="content-holder">
    <div fxLayoutAlign="start start" fxLayout="column">
      <img class="subheader-img" src="assets/images/projectpage/projectsubheader_project_blue.svg">
      <h3 class="project-text">
        I joined this ongoing project first as an intern and later as an employee. The  web application I worked on was an advertising SaaS system for real  estate agents mainly here in Denmark.
      </h3>
      <h3 class="project-text">
        This project is lead by the Connect team that I joined and became a part of  while I worked there.
      </h3>
      <h3 class="project-text">
        The web application is developed in Angular and TypeScript with a Java  backend and consists of an advertising system for real estate agents. The  system enables the agents to create advertising banners that will be  distributed on pages like Facebook, to reach the biggest amount of potential  buyers as possible. The system then gives the agents an overview over how the campaign is doing and how much were spent on it.
      </h3>
    </div>
    <img class="info-img" src="assets/images/projectpage/projectinfo_esoft.svg">
  </div>
  <div fxLayoutAlign="space-around center" fxLayout="row" class="img-holder">
    <img class="project-img" src="assets/images/welcomepage/welcome_img_placeholder.svg">
    <img class="project-img" src="assets/images/welcomepage/welcome_img_placeholder.svg">
    <img class="project-img" src="assets/images/welcomepage/welcome_img_placeholder.svg">
    <img class="project-img" src="assets/images/welcomepage/welcome_img_placeholder.svg">
  </div>
</div>