@import "../../variables.scss";

.projectpage-background {
    height: 50rem;

    @include forDevice(handhelds) {
        height: 45rem;
    }
    @include forDevice(handhelds-landscape) {
        height: 49rem;
    }
}

.header-img {
    width: 40rem;
    margin: 1rem 0 0 1rem;

    @include forDevice(handhelds) {
        width: 20rem;
        margin-left: 1rem;
    }
}

.subheader-img {
    width: 10rem;
    margin-left: 2rem;

    @include forDevice(handhelds) {
        width: 7rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
}

.info-img {
    width: 20rem;

    @include forDevice(handhelds) {
        width: 15rem;
        margin-top: 1rem;
    }
}

.content-holder {
    margin: 1rem 2rem 0;

    @include forDevice(handhelds) {
        margin: unset;
    }
}

.project-text {
    width: 45rem;
    color: #3B6AB4;
    margin: 0.5rem;

    @include forDevice(handhelds) {
        width: 20rem;
    }
    @include forDevice(handhelds-landscape) {
        width: 24rem;
    }
    @include forDevice(tablets) {
        width: 30rem;
    }
}

.project-text-small-screens {
    width: 44rem;
}

.img-holder {
    margin-top: 2rem;
}

.project-img {
    width: 16rem;

    @include forDevice(handhelds-landscape) {
        width: 10rem;
    }
    @include forDevice(tablets) {
        width: 13rem;
    }
}

.small-screen-text-container {
    margin-left: 2rem;
}