<div class="projectpage-background">

  <img *ngIf="showProjectid===0" class="header-img" src="assets/images/projectpage/projectheader_esoft.svg">
  <img *ngIf="showProjectid===1" class="header-img" src="assets/images/projectpage/projectheader_idunhealth.svg">
  <img *ngIf="showProjectid===2" class="header-img" src="assets/images/projectpage/projectheader_backup.svg">
  <img *ngIf="showProjectid===3" class="header-img" src="assets/images/projectpage/projectheader_personalpage.svg">
 
  <div fxLayoutAlign="space-between center" fxLayout="row" class="content-holder">
    <div fxLayoutAlign="start start" fxLayout="column">
      <img class="subheader-img" src="assets/images/projectpage/projectsubheader_project_blue.svg">
      <h3 class="project-text">
        {{projectpageContent[showProjectid].text1}}
      </h3>
      <h3 class="project-text">
          {{projectpageContent[showProjectid].text2}}
      </h3>
      <h3 class="project-text">
          {{projectpageContent[showProjectid].text3}}
      </h3>
      <h3 class="project-text">
          {{projectpageContent[showProjectid].text4}}
        </h3>
    </div>
    <img *ngIf="showProjectid===0" class="info-img" src="assets/images/projectpage/projectinfo_esoft.svg">
    <img *ngIf="showProjectid===1" class="info-img" src="assets/images/projectpage/projectinfo_idunhealth.svg">
    <img *ngIf="showProjectid===2" class="info-img" src="assets/images/projectpage/projectinfo_backup.svg">
    <img *ngIf="showProjectid===3" class="info-img" src="assets/images/projectpage/projectinfo_personalpage.svg">
  </div>
  <div fxLayoutAlign="space-around center" fxLayout="row" class="img-holder">
    <img class="project-img" src={{projectpageContent[showProjectid].image1}}>
    <img class="project-img" src={{projectpageContent[showProjectid].image2}}>
    <img class="project-img" src={{projectpageContent[showProjectid].image3}}>
    <img class="project-img" src={{projectpageContent[showProjectid].image4}}>
  </div>
</div>