<div class="page-background-holder">
  
    <div class="project-left-background page-background">
      <div class="project-left-content">
        <img class="four-image-img four-image-layout1" src="/assets/images/fish.png">            
        <img class="four-image-img four-image-layout2" src="/assets/images/myself.png">
        <img class="four-image-img four-image-layout3" src="/assets/images/drawing.png">
        <img class="four-image-img four-image-layout4" src="/assets/images/nature.png">
      </div>
    </div>
  
    <div class="project-right-background page-background">
        <div class="project-right-content">

        </div>
    </div>
  </div>