.project-left-background {
	background-color:#598a58;
}

.project-right-background {
	background-color: #f7f9e4;
}

.project-left-content {
	padding-top: 3rem;
}

.project-right-content {
	padding-left: 5rem;
}

.project-technology-header {
	font-size: 2rem;
	@media (max-width: 1706px), (max-height: 980px) {font-size: 1.5rem;}
	text-align: center;
	font-weight: bold;
}

.project-technology-text {
	text-align: center;
	margin-left: 5rem;
	font-size: 1.5rem;
	@media (max-width: 1706px), (max-height: 980px) {font-size: 1rem;}
}