.servicespage-background {
    height: 45rem;
}

.header-img {
    width: 30rem;
    margin-left: 7rem;
}

.split-line {
    width: 80rem;
    margin: 1.5rem 0;
}

.images-container {
    height: 12rem;
}

.service-img {
    width: 28rem;
}