.nav-bar {
	display: flex;
	justify-content: flex-end;
	height: 4rem;
	position: fixed;
	width: calc(100vw - 1rem);
	z-index: 2;
	background-color: #6fbc97;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
	color: white;
	box-shadow: -6px 0px 20px 0 #4d5969;
}

.nav-bar-header {
	margin-right: 3rem;
	cursor: pointer;
	font-family: Helvetica, sans-serif;
}

.nav-bar-header:hover {
	color: black;
}

.frontpage_logo {
	position: fixed;
	width: 4rem;
	z-index: 3;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	margin-left: 0.5rem;
}

.appear {
	max-height: 4rem;
	transition: max-height 0.5s ease-in;
	color: white;
}

.projectpage {
	width: 100vw;
	position: relative;
}

.nav-choosen {
	color: black;
}