.nav-bar {
	display: flex;
	justify-content: flex-end;
	height: 4rem;
	position: fixed;
	width: calc(100vw - 1rem);
	z-index: 2;
	background-color: #6fbc97;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
	color: white;
}

.nav-bar-header {
	margin-right: 3rem;
	
	font-family: Helvetica, sans-serif;
}

div.appear {
	max-height: 4rem;
	transition: max-height 0.5s ease-in;
	color: white;
}

.projectpage {
	width: 100vw;
	position: relative;
}

.nav-choosen {
	color: black;
}