<main #mainElement style="width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden; position: relative;">
	<img class="frontpage_logo" [class.appear]="lastScrollPosition>(this.aboutpagePos/2)" src="assets/images/icons/dragon_avatar.svg">
	<div class="nav-bar" [class.appear]="lastScrollPosition>(this.aboutpagePos/2)">
		<h2 class="nav-bar-header" (click)="scroll(aboutpageRef)" [class.nav-choosen]="lastScrollPosition<this.skillpagePos">About</h2>
		<h2 class="nav-bar-header" (click)="scroll(skillpageRef)" [class.nav-choosen]="lastScrollPosition<this.projectpagesPos && lastScrollPosition>=this.skillpagePos">Competences</h2>
		<h2 class="nav-bar-header" (click)="scroll(projectpageRef)" [class.nav-choosen]="lastScrollPosition<this.contactpagePos && lastScrollPosition>=this.projectpagesPos">Projects</h2>
		<h2 class="nav-bar-header" (click)="scroll(contactpageRef)" [class.nav-choosen]="lastScrollPosition>=this.contactpagePos">Contact</h2>
	</div>

	<app-frontpage #frontpage (aboutClick)="scroll(aboutpageRef)" (skillClick)="scroll(skillpageRef)" (projectsClick)="scroll(projectpageRef)"
	 (contactClick)="scroll(contactpageRef)"></app-frontpage>
	<app-aboutpage #aboutpage></app-aboutpage>
	<app-skillpage #skillpage></app-skillpage>
	<app-timelinepage></app-timelinepage>
	<app-projecthubpage #projectpage></app-projecthubpage>

	<!--div #projectpage class="projectpage">
		<app-projectpage *ngFor="let content of list" [content]="content"></app-projectpage>
	</div-->
	<app-contactpage #contactpage></app-contactpage>

	<router-outlet></router-outlet>
</main>