<div class="frontpage-background">
    <div fxLayoutAlign="center center">
      <div class="frontpage-content" fxLayout="column">
          <img class="frontpage-content-size" src="assets/images/frontpage/frontpage_graphics.svg">
          <a class="frontpage-button" mat-raised-button>Download my CV</a>
      </div>
        
    </div>

  <img class="frontpage-background" src="assets/images/frontpage/frontpage_background.png">

  
  

  <div class="frontpage-main-arrow">
    <img class="frontpage-arrow-img" src="assets/images/icons/arrowDown_icon.svg">
  </div>
</div>