.frontpage-background {
	background-color: #91c290;
	height: 100vh;
	width: calc(100vw - 1rem);
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align:center;
}

.frontpage-text-container {
	text-align: center;
	height: 100%;
	display: grid;
}

.frontpage-main-header {
	font-size: 10rem;
	grid-column-start: 1;
	grid-row: 2;
}

.frontpage-main-text {
	font-size: 3rem;
	color: white;
	grid-column-start: 1;
	grid-row: 2;
	padding-top: 11rem;
}

.frontpage-main-arrow {
	margin-top: -5rem;
}

.frontpage-arrow-img {
	height: 4rem;
	width: 5rem;
}