<img class="frontpage_logo" src="assets/images/icons/dragon_avatar.svg">

<div class="frontpage-background">
    <div class="nav-bar">
        <h2 class="nav-bar-header" (click)="aboutClick.emit()">About</h2>
        <h2 class="nav-bar-header" (click)="skillClick.emit()">Competences</h2>
        <h2 class="nav-bar-header" (click)="projectsClick.emit()">Projects</h2>
        <h2 class="nav-bar-header" (click)="contactClick.emit()">Contact</h2>
      </div>

  <div class="frontpage-text-container">
    <div class="frontpage-main-header" id="frontpage-header">Hello</div>
    <div class="frontpage-main-text">I'm a Developer and UI Designer</div>
  </div>
    <div class="frontpage-main-arrow">
      <img class="frontpage-arrow-img" src="assets/images/ArrowDown_icon.svg">
    </div>
</div>