<!--div class="frontpage-background-img-holder">
    <img class="frontpage-background-img" src="assets/images/background.jpg">
</div-->

<!--div>
    <img class="frontpage-custom-icon frontpage-custom-icon-aquarium" src="assets/images/custom_icons/aquarium_icon.png">
    <img class="frontpage-custom-icon frontpage-custom-icon-notes" src="assets/images/custom_icons/notes_icon.png">
    <img class="frontpage-custom-icon frontpage-custom-icon-laptop" src="assets/images/custom_icons/laptop_icon.png">
    <img class="frontpage-custom-icon frontpage-custom-icon-succulent" src="assets/images/custom_icons/succulent_icon.png">
    <img class="frontpage-custom-icon frontpage-custom-icon-drawings" src="assets/images/custom_icons/drawings_icon.png">
</div-->


<!--img class="frontpage_logo" src="assets/images/icons/dragon_avatar.svg"-->

<div class="frontpage-background">

  <div fxLayout="column" fxLayoutAlign="center left" fxFlexFill class="text-container">
    <div class="frontpage-main-header" id="frontpage-header">Hello</div>
    <h2 class=" front">I'm Christina Silverwing</h2>
    <h2 class=" front front-extra">Nice to meet you</h2>
    <!--div class="frontpage-main-text">I'm a Developer and UI Designer</div-->
  </div>

  <div class="frontpage-main-arrow">
    <img class="frontpage-arrow-img" src="assets/images/icons/arrowDown_icon.svg">
  </div>
</div>