@import "../../variables.scss";

.frontpage-background {
	width: -webkit-fill-available;
}

.frontpage-content-size {
	@include forDevice(handhelds) {
		width: 17rem;
	}
	@include forDevice(handhelds-landscape) {
		width: 30rem;
	}
	@include forDevice(tablets) {
		width: 24rem;
	}
	@include forDevice(medium-screens) {
		width: 25rem;
	}
	@include forDevice(large-screens) {
		width: 32rem;
	}
}

.frontpage-content {
	position: absolute;
    @include forDevice(handhelds) {
		margin-top: 14rem;
	}
	@include forDevice(handhelds-landscape) {
		margin-top: 25rem;
	}
	@include forDevice(tablets) {
		margin-top: 18rem;
	}
	@include forDevice(medium-screens) {
		margin-top: 17rem;
	}
	@include forDevice(large-screens) {
		margin-top: 22rem;
	}
}

.frontpage-button {
	background-color: #8FDA94;
	color: white;
	margin-top: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.frontpage-main-header {
	font-size: 4rem;
	transform: scaleY(0);
	font-family: Helvetica, sans-serif;
	color: white;
}

.front {
	color: white;
	z-index: 1;
	max-width: 50%;
	margin: 0;
}

.appear {
	transform: scaleY(1);
	transition: transform 0.6s ease-in;
	animation: fadein 2s;
}

.frontpage-main-arrow {
	margin-top: -5rem;
	//animation: bounce 2s infinite;
	text-align: center;
}

.frontpage-arrow-img {
	height: 4rem;
	width: 5rem;
	z-index: 1;
}

.frontpage-background-img-holder {
	overflow: hidden;
    height: 100vh;
    position: absolute;
}

.frontpage-background-img {
	width: 100vw;
    overflow: hidden;
	opacity: 0.5;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes bounce {
	0% {margin-top: -7rem;}
	50% {margin-top: -6rem;}
	100% {margin-top: -7rem;}
}
