.page-footer {
	width: 100%;
	height: 4rem;
	background-color: #5bbbd3;
	box-shadow: -6px 0px 20px 0 #4d5969;
}

.page-footer-img {
	position: absolute;
    height: 3.5rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
}

.page-footer-text {
	padding-left: 5rem;
	padding-top: 1.5rem;
	color: white;
}

.contact-text-holder {
	text-align: center;
	width: 100vw;
	margin-top: 20vh;
}

.contact-text {
	font-weight: bold;
	color: #d8703b;
}

.contact-img {
	width: 23rem;
}

.contact-img-holder {
	position: absolute;
	text-align: center;
}

.contact-img-email {
	margin-left: calc(50vw - 40rem);
}

.contact-img-chat {
	margin-left: calc(50vw + 14rem);
}