<div class="page-background-holder">
  <div class="contact-text-holder">
    <h1 class="page-text contact-text">I'm currently looking for new opportunities</h1>
    <h1 class="page-text">Will you be my next employer?</h1>
    <h2 class="page-text">You can contact me through</h2>
  </div>

  <div class="contact-img-holder contact-img-email">
      <img class="contact-img" src="assets/images/icons/email_icon.svg">
      <h1 class="page-text contact-text">Email</h1>
      <h1 class="page-text">valyrian@outlook.com</h1>
  </div>

  <div class="contact-img-holder contact-img-chat">
      <img class="contact-img" src="assets/images/icons/chat_icon.svg">
      <h1 class="page-text contact-text">LinkedIn</h1>
      <h1 class="page-text"><a href="https://www.linkedin.com/in/christina-silverwing-856a06169" target="_blank">Christina Silverwing</a></h1>
  </div>
  


  <!--div class="contact-content-text"><a href="https://www.linkedin.com/in/christina-silverwing-856a06169" target="_blank">Christina
          Silverwing</a></div-->

</div>

<div class="page-footer">
  <img class="page-footer-img" src="assets/images/icons/dragon_avatar.svg">
  <div class="page-text page-footer-text">Made by Christina Silverwing | 2019 | All Rights Reserved</div>
</div>