<div class="gradient-to-page"></div>

<div class="page-background-holder">

  <div class="page-background">
    <div class="contact-left-content">        
      <img class="four-image-img contact-image1" src="assets/images/nature.png">
      <img class="four-image-img contact-image2" src="assets/images/nature.png">
    </div>
      
  </div>
  <div class="page-background">
    <div class="contact-right-content">
      <div class="page-header">You can reach me on</div>
      <div class="contact-content-header contact-spacing">E-mail</div>
      <div class="contact-content-text">XX@xx.com</div>
      <div class="contact-content-header contact-spacing">Phone</div>
      <div class="contact-content-text">xx xx xx xx</div>
    </div>
  </div>
</div>