<div class="contactpage-background">
  <img class="header-img" src="assets/images/contactpage/header_contact.svg">
  <h2 class="contact-text text-margin-top">You can reach me through Email and LinkedIn as I check them several times a day.</h2>
  <h2 class="contact-text text-margin-bottom">Reach out to me and lets talk about how I can help you :)</h2>

  <div fxLayoutAlign="center center" fxLayout="column">

    <div fxLayoutAlign="space-around center" fxLayout="row" fxLayout.xs="column">
        <div fxLayoutAlign="center center" fxLayout="column" class="contact-container">
            <img class="contact-img" src="assets/images/contactpage/contact_linkedin.png">
            <h1 class="contact-text styled-text"><a class="styled-text" href="https://www.linkedin.com/in/christina-silverwing-856a06169" target="_blank">Christina Silverwing</a></h1>
            
        </div>

        <div fxLayoutAlign="center center" fxLayout="column" class="contact-container">
            <img class="contact-img" src="assets/images/contactpage/contact_email.svg">
            <h1 class="contact-text styled-text">valyrian@outlook.com</h1>
        </div>

        <div fxShow.gt-xs="true" fxHide="true">
          <img class="contact-me-img" src="assets/images/contactpage/me_contact.png">
        </div>
    </div>

  </div>

</div>