@import "../../variables.scss";

.contactpage-background {
	height: 44rem;
}

.header-img {
    width: 30rem;
    margin-left: 2rem;

    @include forDevice(handhelds) {
        width: 20rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    @include forDevice(handhelds-landscape) {
        margin-left: 3rem;
    }
}

.styled-text {
	font-weight: bold;
	color: #3B6AB4 !important;
	text-decoration: none;
}

.text-margin-top {
	margin-left: 2rem !important;
	margin-top: 2rem !important;

	@include forDevice(large-screens) {
		margin-left: 7rem !important;
	}
}

.text-margin-bottom {
	margin-left: 2rem !important;
	margin-bottom: 2rem !important;

	@include forDevice(large-screens) {
		margin-left: 7rem !important;
	}
}

.contact-img {
	width: 12rem;
	margin-bottom: 1rem;
}

.contact-me-img {
	width: 20rem;
	margin-top: -5rem;
}

.contact-text {
	margin: 0;
	color: #3B6AB4;
}

.contact-container {
	margin: 0 3rem;

	@include forDevice(large-screens) {
		margin: 0 9rem;
	}
}

.contact-text-container {
	margin: 2rem 0;
}