@import "../../variables.scss";

.projectprocess-background {
        height: 65rem;
    
        // @include forDevice(handhelds) {
        //     height: 40rem;
        // }
        // @include forDevice(handhelds-landscape) {
        //     height: 50rem;
        // }
}

.subheader-img {
    width: 15rem;
    margin-left: 2rem;
}

.line-img {
    width: 100%;
    margin-bottom: 1rem;
}

.project-text {
    width: 50rem;
    color: #3B6AB4;
    margin: 0.5rem;

    @include forDevice(handhelds-landscape) {
        width: 30rem;
    }
    @include forDevice(tablets) {
        width: 40rem;
    }
}

.content-holder {
    margin: 0 2rem 0;
}

.work-img {
    width: 23rem;
}

.content-holder-middle {
    margin-top: 2rem;
}

.project-text-small-screens {
    width: 43rem;
}

.small-screen-text-container {
    margin-left: 2rem;
}