<div class="projectprocess-background">
  <img class="line-img" src="assets/images/servicespage/services_line.svg">
  <img class="subheader-img" src="assets/images/projectpage/projectsubheader_work_blue.svg">
  <div fxLayoutAlign="space-between center" fxLayout="row" class="content-holder">
    <div fxLayoutAlign="start start" fxLayout="column">
        <h3 class="project-text">I first joined the project as an intern and had to learn to know the system first  before I could properly work on it.</h3>
        <h3 class="project-text">My first task on this project was to go through the system and look at it from a  users viewpoint. By doing that I could get to know the system, and note down  everything I found to be something that might disrupt the users workflow.</h3>
        <h3 class="project-text">It was very important that I did this while I didn't know a lot about the system  as this would allow me to experience the system as a first-time user.</h3>
        <h3 class="project-text">Here I also not only went through the overall system, but also went through  the process of making a campaign while writing down everything I found to  disrupt the workflow and could lower performance.</h3>
    </div>
    <img src="assets/images/welcomepage/welcome_img_placeholder.svg" class="work-img">
  </div>

  <div fxLayoutAlign="space-between center" fxLayout="row" class="content-holder">
      <img src="assets/images/welcomepage/welcome_img_placeholder.svg" class="work-img">
      <div fxLayoutAlign="start start" fxLayout="column">
          <h3 class="project-text">After my introduction to the system, I was given the task of coming up with design  suggestions for a landing page for their rebranding of the system to Shine.</h3>
          <h3 class="project-text">To do this I began with a lot of research of existing pages and design trends and  sketched out several wireframes on paper to try out different layouts.</h3>
          <h3 class="project-text">Throughout  this process I got feedback from Lisbeth Chawes and took what we both agreed on to be the better designs and made them into digital wireframes in Adobe XD.</h3>
          <h3 class="project-text">This was brought to the lead designer who would use them as a base to work from. </h3>
      </div>
    </div>

    <div fxLayoutAlign="space-between center" fxLayout="row" class="content-holder">
        <div fxLayoutAlign="start start" fxLayout="column">
            <h3 class="project-text">My main role at Esoft was as a frontend developer, where I started out with fixing  translations and redesigning as well as coded new UI designs for some of the  existing pages.</h3>
            <h3 class="project-text">I collaboration with their senior frontend developer Darryl, I began development  on their payment module. Where I made wireframes for the UI, coded it,  researched Stripe and incorporated it into the system.</h3>
            <h3 class="project-text">I also constructed new advertisement banners and added them into the system.</h3>
        </div>
        <img src="assets/images/welcomepage/welcome_img_placeholder.svg" class="work-img">
      </div>
</div>
