<div class="projectprocess-background">
  <img class="line-img" src="assets/images/servicespage/services_line.svg">
  <img class="subheader-img" src="assets/images/projectpage/projectsubheader_work_blue.svg">
  <div fxLayoutAlign="space-around center" fxLayout="row" class="content-holder">
    <div fxLayoutAlign="start start" fxLayout="column">
        <h3 class="project-text">{{projectpageContent[showProjectid].text1}}</h3>
        <h3 class="project-text">{{projectpageContent[showProjectid].text2}}</h3>
        <h3 class="project-text">{{projectpageContent[showProjectid].text3}}</h3>
        <h3 class="project-text" fxShow.gt-sm="true" fxHide="true">{{projectpageContent[showProjectid].text4}}</h3>
    </div>
    <img src={{projectpageContent[showProjectid].image1}} class="work-img">
  </div>
  <div fxShow.sm="true" fxHide="true" class="small-screen-text-container">
      <h3 class="project-text project-text-small-screens">{{projectpageContent[showProjectid].text4}}</h3>
  </div>

  <div fxLayoutAlign="space-around center" fxLayout="row" class="content-holder content-holder-middle">
      <img src={{projectpageContent[showProjectid].image2}} class="work-img">
      <div fxLayoutAlign="start start" fxLayout="column">
          <h3 class="project-text">{{projectpageContent[showProjectid].text5}}</h3>
          <h3 class="project-text">{{projectpageContent[showProjectid].text6}}</h3>
          <h3 class="project-text" fxShow.gt-sm="true" fxHide="true">{{projectpageContent[showProjectid].text7}}</h3>
          <h3 class="project-text" fxShow.gt-sm="true" fxHide="true">{{projectpageContent[showProjectid].text8}}</h3>
      </div>
    </div>
    <div fxShow.sm="true" fxHide="true" class="small-screen-text-container" fxLayout="column">
        <h3 class="project-text project-text-small-screens">{{projectpageContent[showProjectid].text7}}</h3>
        <h3 class="project-text project-text-small-screens">{{projectpageContent[showProjectid].text8}}</h3>
    </div>

    <div fxLayoutAlign="space-around center" fxLayout="row" class="content-holder">
        <div fxLayoutAlign="start start" fxLayout="column">
            <h3 class="project-text">{{projectpageContent[showProjectid].text9}}</h3>
            <h3 class="project-text">{{projectpageContent[showProjectid].text10}}</h3>
            <h3 class="project-text" fxShow.gt-sm="true" fxHide="true">{{projectpageContent[showProjectid].text11}}</h3>
        </div>
        <img src={{projectpageContent[showProjectid].image3}} class="work-img">
      </div>
      <div fxShow.sm="true" fxHide="true" class="small-screen-text-container">
          <h3 class="project-text project-text-small-screens">{{projectpageContent[showProjectid].text11}}</h3>
      </div>
</div>
