.experiencepage-background {
    height: 45rem;
}

.header-img {
    width: 30rem;
    margin-left: 7rem;
}

.subheader-img {
    width: 33rem;
    margin: 1.5rem 0;
}

.experience-width {
    width: 31rem;
    color: #3B6AB4;
}

.info-img {
    width: 20rem;
}