<div class="experiencepage-background">
  <img class="header-img" src="assets/images/experiencepage/header_experience.svg">
  <div fxLayoutAlign="space-around center" fxLayout="row">
    <div fxLayoutAlign="space-evenly start" fxLayout="column">
      <img fxShow.gt-sm="true" fxHide="true" class="subheader-img" src="assets/images/experiencepage/subheader_experience.svg">

      <img fxShow.xs="true" fxShow.sm="true" fxHide="true" class="experience-width experience-education" src="assets/images/experiencepage/experience_education.svg">
      <img fxShow.xs="true" fxShow.sm="true"  fxHide="true" src="assets/images/experiencepage/experience_line.svg">
      <img class="experience-width" src="assets/images/experiencepage/experience_idun.svg">
      <h3 class="experience-width">Is has been an ungoing project I have been working on with friends. I mainly worked with Angular and TypeScript and designed the overall design of the user interface.</h3>
      <img class="split-line" src="assets/images/experiencepage/experience_line.svg">
      <img class="experience-width" src="assets/images/experiencepage/experience_esoft.svg">
      <h3 class="experience-width">I first started at Esoft as an intern and later got a contract as well. I worked here as a frontend developer on their advertising SaaS system where I helped develop the payment module and made improvements to the UI.</h3>
    </div>
    <img fxShow.gt-sm="true" fxHide="true" class="info-img" src="assets/images/experiencepage/christina_info.svg">
  </div>
</div>