<div style="height: 100vh;">
  <mat-toolbar fxShow="true" id="navbar">
    <mat-toolbar-row>
      <button class="navbar-menu-button" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img class="frontpage_logo" src="assets/images/icons/dragon_avatar.svg">
      <span class="navbar-title">SilverWing</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a class="navbar-header" (click)="scrollToElement('about')" mat-button>About</a>
        <a class="navbar-header" (click)="scrollToElement('portefolio')" mat-button>Portefolio</a>
        <a class="navbar-header" (click)="scrollToElement('services')" mat-button>Services</a>
        <a class="navbar-header" (click)="scrollToElement('skills')" mat-button>Skills</a>
        <a class="navbar-header" (click)="scrollToElement('contact')" mat-button>Contact</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a class="navbar-header" (click)="scrollToElement('about')" mat-list-item>About</a>
        <a class="navbar-header" (click)="scrollToElement('portefolio')" mat-list-item>Portefolio</a>
        <a class="navbar-header" (click)="scrollToElement('services')" mat-list-item>Services</a>
        <a class="navbar-header" (click)="scrollToElement('skills')" mat-list-item>Skills</a>
        <a class="navbar-header" (click)="scrollToElement('contact')" mat-list-item>Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="main-container">
      <!--Page content goes here-->
      <app-frontpage></app-frontpage>
      <app-welcomepage id="about"></app-welcomepage>
      <app-experiencepage></app-experiencepage>
      <app-portefoliopage id="portefolio"></app-portefoliopage>
      <app-servicespage id="services"></app-servicespage>
      <app-skillspage id="skills"></app-skillspage>
      <!--
      <app-contactpage #contactpage></app-contactpage-->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>