@import "../../variables.scss";

.menu-spacer {
    flex: 1 1 auto;
  }

  .main-container {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .frontpage_logo {
    width: 3.5rem;
    margin: 0.5rem;

    @include forDevice(handhelds) {
      width: 3rem;
    }
  }

  :host::ng-deep.navbar-header span {
    color: #3B6AB4 !important;
    font-size: 1.5rem;
    font-weight: bold;
  }

  :host::ng-deep.navbar-menu-button span {
    color: #3B6AB4 !important;
  }

  .navbar-title {
    color: #3B6AB4;
    font-weight: bold;
  }

  .navbar-header {
    text-decoration-color: #3B6AB4 !important;
  }

  .sidenav-container {
    position: fixed !important;
  }