<div class="page-background-holder">
  <div class="timeline-content-holder">
    <div class="timeline-bubble timeline-bubble-htx">
      <h1 class="page-text text-bubble">HTX</h1>
    </div>
    <div class="timeline-bubble timeline-bubble-learning">
      <h1 class="page-text text-bubble">Learning and experience technology</h1>
    </div>

  </div>
  <div class="timeline-holder timeline-holder-top">
    <div class="timeline-space"></div>
    <div class="timeline-idun"></div>
    <div class="timeline-space timeline-space-last"></div>
  </div>
  <div class="timeline-holder">
    <div class="timeline-htx"></div>
    <div class="timeline-robot"></div>
    <div class="timeline-learning"></div>
    <div class="timeline-future"></div>
  </div>
  <div class="timeline-content-holder">
      <div class="timeline-bubble timeline-bubble-robot">
        <h1 class="page-text text-bubble">Robot technology</h1>
      </div>
      <div class="timeline-bubble timeline-bubble-idun">
        <h1 class="page-text text-bubble">Free-time work at IdunHealth</h1>
      </div>
    </div>
</div>