<div class="page-background-holder">
  <div class="page-vertical-center">
    <div class="timeline-content-holder">
      <div class="timeline-bubble timeline-bubble-htx">
        <h1 class=" text-bubble">HTX</h1>
      </div>
      <div class="timeline-text-holder timeline-text-holder-top timeline-text-robot">
        <h3 class=" timeline-text">I wasn't sure what I wanted to do after HTX, so I tried robot technology at
          SDU</h3>
        <h2 class=" timeline-text timeline-text-year">2013</h2>
      </div>
      <div class="timeline-bubble timeline-bubble-learning">
        <h1 class=" text-bubble">Learning and experience technology</h1>
      </div>
      <div class="timeline-text-holder timeline-text-holder-top timeline-text-idun">
        <h3 class=" timeline-text timeline-text-width">While I studied, a few friends started IdunHealth and I
          joined to be frontend developer and UI designer</h3>
        <h2 class=" timeline-text timeline-text-width timeline-text-year">2015 - 2019</h2>
      </div>

    </div>
    <div class="timeline-holder timeline-holder-top">
      <div class="timeline-space"></div>
      <div class="timeline-idun"></div>
      <div class="timeline-space timeline-space-last"></div>
    </div>
    <div class="timeline-holder">
      <div class="timeline-htx"></div>
      <div class="timeline-robot"></div>
      <div class="timeline-learning"></div>
      <div class="timeline-future"></div>
    </div>
    <div class="timeline-content-holder">
      <div class="timeline-bubble timeline-bubble-robot">
        <h1 class=" text-bubble">Robot technology</h1>
      </div>
      <div class="timeline-text-holder timeline-text-htx">
        <h2 class=" timeline-text timeline-text-width timeline-text-year">2009 - 2012</h2>
        <h3 class=" timeline-text timeline-text-width">I began my educational journey at HTX in Nykøbing F,
          where I choose the design and technology line</h3>
      </div>
      <div class="timeline-bubble timeline-bubble-idun">
        <h1 class=" text-bubble">Free-time work at IdunHealth</h1>
      </div>
      <div class="timeline-text-holder timeline-text-learning">
        <h2 class=" timeline-text timeline-text-width timeline-text-year">2013 - 2018</h2>
        <h3 class=" timeline-text timeline-text-width">I took my education as a Master in Engineering at SDU,
          where I learned most of the skills I use today</h3>
      </div>
    </div>
  </div>
</div>