<div class="about-background-holder">

  <div class="about-left-background">
      <div>
          <img class="about-myself-img" src="/assets/images/myself.png">
      </div>
  </div>
  <div class="about-right-background">
    <div class="about-right-content">
      <div class="about-right-content-header">About Me</div>
      <div class="about-right-text-wrapper">
        <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
        <div class="about-right-content-text">Hey I'm Christina! I'm 26 years and live on Fyn here in Denmark.</div>
      </div>
      <div class="about-right-text-wrapper">
        <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
        <div class="about-right-content-text">I'm a very creative person, who loves to work on creative things, like adding to my sketchbook or making clay sculptures!</div>
      </div>
      <div class="about-right-text-wrapper">
        <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
        <div class="about-right-content-text">I really like to observe nature and often takes a walk with my boyfriend to be inspired or sit at home and observe my fish.</div>
      </div>
    </div>
  </div>

  

</div>