<div class="about-background-holder">

  <div>
      <img class="about-myself-img" src="/assets/images/myself.png">
  </div>

  <div class="about-left-background">

  </div>
  <div class="about-right-background">
    <div class="about-right-content">
      <div class="about-right-content-header">I'm Christina</div>
      <div class="about-right-content-text">
        <div class="about-text-wrapper">
            <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
            <div>I'm 26 years old and live on Fyn I'm 26 years old and live on Fyn</div>
        </div>
        <div class="about-text-wrapper">
            <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
            <div>I'm 26 years old and live on Fyn I'm 26 years old and live on Fyn</div>
        </div>
        <div class="about-text-wrapper">
            <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
            <div>I'm 26 years old and live on Fyn I'm 26 years old and live on Fyn</div>
        </div>
        <div class="about-text-wrapper">
            <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
            <div>I'm 26 years old and live on Fyn I'm 26 years old and live on Fyn</div>
        </div>
        <div class="about-text-wrapper">
            <img class="about-text-bullet-point" src="/assets/images/Settings_icon.svg">
            <div>I'm 26 years old and live on Fyn I'm 26 years old and live on Fyn</div>
        </div>
        
      </div>
    </div>
  </div>

  

</div>