<div class="gradient-to-page"></div>

<div class="page-background-holder">

  <div class="page-background">
    <div class="about-left-content">
      <img class="four-image-img four-image-layout1" src="assets/images/fish.png">            
      <img class="four-image-img four-image-layout2" src="assets/images/myself.png">
      <img class="four-image-img four-image-layout3" src="assets/images/drawing.png">
      <img class="four-image-img four-image-layout4" src="assets/images/nature.png">
    </div>
      
  </div>
  <div class="page-background">
    <div class="about-right-content">
      <div class="page-header about-header">About Me</div>
      <div class="page-text-wrapper">
        <img class="page-bullet-point" src="assets/images/Settings_icon.svg">
        <div class="page-text">Hey I'm Christina! I'm 26 years and live on Fyn here in Denmark.</div>
      </div>
      <div class="page-text-wrapper">
        <img class="page-bullet-point" src="assets/images/Settings_icon.svg">
        <div class="page-text">I'm a very creative person, who loves to work on creative things, like adding to my sketchbook or making clay sculptures!</div>
      </div>
      <div class="page-text-wrapper">
        <img class="page-bullet-point" src="assets/images/Settings_icon.svg">
        <div class="page-text">I really like to observe nature and often takes a walk with my boyfriend to be inspired or sit at home and observe my fish.</div>
      </div>
      <div class="page-text-wrapper">
          <img class="page-bullet-point" src="assets/images/Settings_icon.svg">
          <div class="page-text">I use most of my time at my computer with a good cup of tea, where I draw, code or play a computer game like Minecraft.</div>
      </div>
      <div class="page-text-wrapper">
          <img class="page-bullet-point" src="assets/images/Settings_icon.svg">
          <div class="page-text">I have a quiet personality but I will happily speak my mind as soon as I feel secure around the people I'm with :-)</div>
      </div>
    </div>
  </div>
</div>