.about-background-holder {
	background-color: red;
	height: 100vh;
	width: calc(100vw - 1rem);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about-left-background {
	background-color: #598a58;
	height: 100vh;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.about-right-background {
	background-color: #f7f9e4;
	height: 100vh;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.about-right-content {
	height: 100%;
	width: 100%;
	padding-left: 5rem;
}

.about-right-content-header {
	font-size: 5rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
	margin-left: 25%;
}

.about-myself-img {
	height: 20rem;
	margin-top: 4rem;
	margin-right: 4rem;
	float: right;
}

.about-right-content-text {
	font-size: 2rem;
	margin-right: 1rem;
	margin-left: 5rem;
}

.about-text-bullet-point {
	height: 4rem;
	padding-right: 1rem;
	position: absolute;
}

.about-right-text-wrapper {
	margin-bottom: 2rem;
	margin-right: 6rem;
}