/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	overflow-x: hidden
}

main::-webkit-scrollbar {
	width: 1.3rem;
	background-color: lightgrey;
}

main::-webkit-scrollbar-thumb {
	background-color: #3c6b5d;
	background-image: linear-gradient(#73bc76, #68bbd2);
	border-radius: 1rem;
	border: 3px solid rgba(82, 82, 82, 0.22);
}

//Styling for general page layout
.page-background-holder {
	height: 100vh;
	width: calc(100vw - 1rem);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #ffffff;
	display: table;
}

.page-background {
	height: 100%;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

//Styling for four image layout
.four-image-layout1 {
	margin-top: 11rem;
	margin-left:7rem;
	@media (max-width: 1706px), (max-height: 950px) {margin-top: 8.5rem; margin-left: 12rem;}
	@media (max-width: 1706px), (max-height: 980px) {margin-top: 13.5rem; margin-left: 6rem;}
}

.four-image-layout2 {
	position: absolute;
	left: 27rem;
	@media (max-width: 1706px), (max-height: 980px) { left: 23rem; margin-top: 4rem;}
}

.four-image-layout3 {
	position: absolute;
	margin-top: 22.5rem;
	left: 27rem;
	@media (max-width: 1706px), (max-height: 950px) {margin-top: 17rem; left: 27rem;}
	@media (max-width: 1706px), (max-height: 980px) {margin-top: 22.5rem; left: 23rem;}
}

.four-image-layout4 {
	position: absolute;
	margin-top: 33.5rem;
	left: 7rem;
	@media (max-width: 1706px), (max-height: 950px) {margin-top: 25.5rem; left: 12rem}
	@media (max-width: 1706px), (max-height: 980px) {margin-top: 32rem; left: 6rem;}
}

.four-image-img {
	height: 20rem;
	@media (max-width: 1706px), (max-height: 950px) {height: 17rem;}
	@media (max-width: 1706px), (max-height: 980px) {height: 16rem;}
	filter: drop-shadow(0 0 1rem rgb(63, 78, 95));
}

//Styling for text page
.page-header {
	font-size: 4rem;
	//@media (max-width: 1500px), (max-height: 980px) {font-size: 3rem;}
	margin-top: 3rem;
	margin-bottom: 2rem;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

.page-text {
	//font-size: 1.7rem;
	//margin-right: 1rem;
	//margin-left: 5rem;
	font-family: Helvetica, sans-serif;
	color: #3552a0;
	font-weight: unset;
}

.page-bullet-point {
	height: 4rem;
	@media (max-width: 1706px), (max-height: 980px) {height: 3rem;}
	position: absolute;
}

.page-text-wrapper {
	margin-bottom: 1.5rem;
	margin-right: 6rem;
}

.orange-text {
	display: inline-block;
	color: #d8703b;
}

.bold-text {
	display: inline-block;
	font-weight: bold;
}

.page-vertical-center {
	display: table-cell;
	vertical-align: middle;
}